{% extends 'index.html' %}


{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}


{% block content %}
        <!-- Третий блок -->
    <div class="theard_block">
        <div class="theard_subblock">

                <div class="theard_block_item theard_block_item1">
                    <img class="theard_block_image" src="/static/assets/images/3_block_image1.svg" alt="FOR WOMEN">
                    <div class="theard_block_text">
                        <h3 class="theard_bloc_h3">30% OFF</h3>
                        <h2 class="theard_bloc_h2">FOR WOMEN</h2>
                    </div>

                </div>

                <div class="theard_block_item theard_block_item2">
                    <img class="theard_block_image" src="/static/assets/images/3_block_image2.svg" alt="FOR MEN">
                    <div class="theard_block_text">
                        <h3 class="theard_bloc_h3">HOT DEAL</h3>
                        <h2 class="theard_bloc_h2">FOR MEN</h2>
                    </div>
                </div>

                <div class="theard_block_item theard_block_item3">
                    <img class="theard_block_image" src="/static/assets/images/3_block_image3.svg" alt="FOR MEN">
                    <div class="theard_block_text">
                        <h3 class="theard_bloc_h3">NEW ARRIVALS</h3>
                        <h2 class="theard_bloc_h2">FOR KIDS</h2>
                    </div>

               

            </div>
        
            <div class="theard_block_item4">
                <img class="theard_block_image theard_block_image4" src="/static/assets/images/3_block_image4.svg" alt="FOR MEN">
                <div class="theard_block_text">
                    <h3 class="theard_bloc_h3">LUXIROUS & TRENDY</h3>
                    <h2 class="theard_bloc_h2">ACCESORIES</h2>
                </div>

            </div>
        </div>
    </div>
{% endblock %}



